<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body><font size="4">Программные объекты понятия "Справочник"</font>
<div><font size="4">1. Справочники Менеджер - коллекция описанных в системе справочник-менеджеров</font></div>
<div><font size="4">2. СправочникМенеджер.&lt;Имя справочника&gt; - механизмы и алгоритмы, не привязанные к конкретному </font></div>
<div><font size="4">   экземпляру данных</font></div>
<div><font size="4">3. СправочникОбъект</font><span style="font-size: large;">.&lt;Имя справочника&gt; - нужен для манипулирования данными, в том числе записью в БД</span></div></body></html>